/* 프리텐다드 폰트 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Orbit 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: white;
  text-decoration: none;
}

body {
  font-family: 'Pretendard-Regular';
}

ul {
  list-style: none;
}
/* 로그인 */
div#login {
  position: absolute;
  /* border: 1px solid; */
  width: 100%;
  text-align: right;
  max-width: 1640px;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 12px;
}

div#login li {
  display: inline-block;
  color: rgb(255, 255, 255);
  /* border: 1px solid; */
  margin-left: 10px;
}

/* header */
header {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 80px;
  margin: 40px auto 0;

  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  /* max-width: 1920px; */
  display: flex;
}
#bg_wrapper {
  /* border: 1px solid;   */
  /* height: 80px; */
  width: 100%;
  border-radius: 7px;
  color: #eee;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  /* position: absolute; */
  z-index: 99;
  /* max-width: 1640px; */
  padding: 20px 30px;
}

header .menu {
  display: flex;
  /* margin-right: 140px; */
  /* border: 1px solid; */
  /* height: 25px; */
  flex-direction: column;
  position: absolute;
  top: 100px;
  border: 1px solid;
  width: 100%;
  display: none;
}

header .menu li {
  /* margin-left: 35px; */
  font-weight: bold;
  font-size: 1.1rem;
  border: 1px solid;
  text-align: center;
  padding: 10px 0;
}

h1 {
  font-family: 'Orbit';
  font-size: 1.6rem;
}
/* header #toggle {
   display: none; 
}   
   */

/* hero section */
section.hero {
  background: url('../img/hero_img.jpeg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: linear-gradient(90deg, rgba(1, 1, 1, 0.5), transparent);
  left: 0;
  top: 0;
}

.logo {
  display: flex;
  align-items: center;
  /* border: 1px solid; */
  gap: 15px;
}
.logo h1 {
  /* border: 1px solid; */
  padding-bottom: 5px;
}

.logo-img {
  width: 45px;
  display: block;
  /* margin-right: 20px; */
  /* margin-left: 140px; */
}

.text_box {
  /* font-size: 2.5rem; */
  font-size: 1.5rem;
  text-align: left;
  color: #eee;
  position: absolute;
  left: 50%;
  top: 45%;
  width: 60%;
  transform: translate(-50%);
  font-family: 'Orbit';
}

.blink {
  animation: blink 1s infinite;
  font-size: 2.5rem;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

/* second Page */
#reserve {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1680px;
  margin-bottom: 50px;
}
#reserve h2 {
  padding: 100px 0;
  font-size: 2.5em;
}

#reserve input {
  display: none;
}
#reserve > label {
  width: 80vw;
  padding: 20px 5vw;
  border-bottom: 1px solid #959292;
  font-size: 24px;
  cursor: pointer;
  position: relative;
}
#reserve label.isGreen {
  border-bottom: 2px solid green;
}
#reserve .exersise {
  display: none;
}
#reserve .isBlock {
  display: block;
}

#reserve label span {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 0.7em;
}

/* calendar */
.exersise .dateHead div {
  background: #e31b20;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}
.exersise .grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}
.exersise .grid div {
  padding: 0.6rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.exersise .dateBoard div {
  color: #222;
  font-weight: bold;
  min-height: 1.2rem;
  padding: 0.6rem 0.6rem;
  border-radius: 5px;
  border: 1px solid #eee;
}
.exersise .noColor {
  background: #eee;
}
.exersise .changeBg {
  background: #9b9b9b;
}
.exersise .header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: relative;
  /* padding: 1rem 2rem; */
}

.exersise .btn {
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid #000;
  border-width: 3px 3px 0 0;
  cursor: pointer;
}
.exersise .prevDay {
  transform: rotate(-135deg);
  position: absolute;
  left: 0;
}
.exersise .nextDay {
  transform: rotate(45deg);
  position: absolute;
  right: 0;
}
.exersise .rap {
  max-width: 300px;
  padding: 0 0.14rem;
  margin: 0 auto;
  margin-top: 1.4rem;
}
.exersise .dateHead {
  margin: 0.4rem 0;
}
/* resev */
.reservation_block {
  border: 1px solid blue;
  margin: 20px auto;
  max-width: 300px;
}
.reservation_block h3 {
  margin: 9px 0 12px 20px;
}
.reservation_block h3 span {
  padding: 4px;
}
.reservation_block h3 span:first-child {
  color: red;
}
.reservation_block > button {
  display: block;
  width: 90%;
  margin: 20px auto;
  background-color: rgba(56, 130, 105, 0.32);
  color: #686b6e;
  border: none;
  border-radius: 5px;
  padding: 20px;
}
.reservation_block button .fa-solid.fa-check {
  color: green;
  margin-left: 8px;
  font-size: 18px;
  font-weight: 700;
}
.time {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 150px;
}

.time > button {
  padding: 12px;
  border-radius: 5px;
  background-color: white;
  margin: 4px auto;
  border: 1px solid black;
  text-align: left;
  width: 90%;
  display: flex;
  gap: 4px;
}

/* 상세설명 */
.tap {
  display: flex;
  justify-content: space-around;
}

.tap li {
  cursor: pointer;
}
.tap li a {
  color: black;
}
.tap_content {
  display: none;
  /* max-width: 820px; */
  border: 1px solid;
  margin: auto 10%;
}
/* footer */

footer {
  width: 100%;
  background-color: #444;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* first Line */
footer #aLine {
  width: 100%;
  max-width: 1680px;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

footer #aLine #footer_fline {
  width: 100%;
  margin: 0 97px;
}
footer #aLine #footer_fline ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
footer #aLine #footer_fline ul li:first-child {
  list-style: none;
}

footer #aLine #footer_fline ul li a {
  color: white;
}
footer #aLine #footer_sline {
  margin: 0 97px;
  display: flex;
  gap: 30px;
}
footer #aLine #footer_sline a {
  color: white;
}
/* second Line */
footer #bLine {
  width: 100%;
  max-width: 1680px;
  border: 1px solid;
  display: flex;
  padding: 20px 0;
}

footer #bLine #footer_tline {
  width: 100%;
  margin-left: 97px;

  display: flex;
  gap: 30px;
  align-items: center;
}

footer #bLine #footer_foline {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-right: 97px;
}
